html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.star-icon {
    position: absolute;
    top: 50%; /* Move the top of the h1 to the vertical center */
    left: 24.5%; /* Move the left of the h1 to the horizontal center */
    transform: translate(-50%, -50%);
}

.star-icon-bottom {
    align-self: center;
    margin-bottom: 50px;
}

.header-h1 {
    font-weight: 500;
    font-size: 70px;
    margin: 0;
    position: absolute;
    top: 50%; /* Move the top of the h1 to the vertical center */
    left: 71.5%; /* Move the left of the h1 to the horizontal center */
    transform: translate(-50%, -50%);
}

.dwg {
    font-size: 65px;
    font-weight: 400;
}

.arrow-icon {
    position: absolute;
    top: 88%; /* Move the top of the h1 to the vertical center */
    left: 50%; /* Move the left of the h1 to the horizontal center */
    animation: bounce 1s infinite; 
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-50%) translateX(-50%);
    }
    50% {
      transform: translateY(-30px) translateX(-50%);
    }
  }

.toggle-icon {
    position: absolute;
    top: 88%; /* Move the top of the h1 to the vertical center */
    left: 84%; /* Move the left of the h1 to the horizontal center */
    transform: translate(-50%, -50%);
}

.light {
    background-color: #E8E7E6;
    color: #000;
}

.dark {
    background-color: #000;
    color: #E8E7E6;
}

.light-bg {
    background-image: url("../public/assets/imgs/svetla.jpg");
}

.dark-bg {
    background-image: url("../public/assets/imgs/temna.jpeg");
}

.light-button {
    background-color: #000;
    border: 1px solid #000;
    color: #E8E7E6;
}

.light-button:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

.dark-button {
    background-color: #E8E7E6;
    border: 1px solid #E8E7E6;
    color: #000;
}

.dark-button:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.flex {
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
    padding: 0 100px;
    justify-content: center;
}

@media (max-width: 999px) {
    main {
        height: auto;
    }
    .solo-section {
        padding-bottom: 50px;
    }
}

@media (max-width: 759px) {
    .header-h1 {
        font-size: 50px;
    }
    .dwg {
        font-size: 45px;
    }
}

@media (max-width: 519px) {
    .header-h1 {
        font-size: 25px;
    }
    .dwg {
        font-size: 20px;
    }
}

.box.pricing {
    margin-top: -50px;
    align-items: flex-end;
    text-align: right;
}

.box {
    gap: 15px;
}

.box button {
    margin-bottom: 15px;
}

.box.other {
    margin-top: -50px;
}

.box h1 {
    font-size: 25px;
    margin: 0;
}

.box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    width: 50%;
}

main button {
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    position: relative;
}

.solo-section {
    margin-top: 50px;
    align-self: center;
}

.solo-section button {
    font-size: 22px;
    padding: 15px 30px;
}

@media (max-width: 899px) {
    .box.pricing, .box.other {
        margin: 0;
    }
    .box p {
        width: 60%;
    }
}

@media (max-width: 699px) {
    .box p {
        width: 80%;
    }
    main {
        padding: 50px;
    }
}

@media (max-width: 499px) {
    .box p {
        width: 100%;
    }
    .box h1 {
        font-size: 25px;
    }
}

.work {
    height: 100vh;
    background-image: url("../public/assets/imgs/work-05.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; /* Fix the div to the viewport */
    top: 0; /* Align it to the top of the viewport */
    left: 0; /* Align it to the left of the viewport */
    right: 0; /* Align it to the right of the viewport */
    bottom: 0; /* Align it to the bottom of the viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Set a high z-index to ensure it's on top of other elements */
}

.flexing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    rotate: 90deg;
    cursor: pointer;
}